@font-face {
	font-family: 'Larsseit';
	font-weight: 800;
	src: url('../fonts/Larsseit-ExtraBold/font.woff2') format('woff2'),
		url('../fonts/Larsseit-ExtraBold/font.woff') format('woff');
}
@font-face {
	font-family: 'Larsseit';
	font-weight: 300;
	src: url('../fonts/Larsseit-Light/font.woff2') format('woff2'),
		url('../fonts/Larsseit-Light/font.woff') format('woff');
}
@font-face {
	font-family: 'Larsseit';
	font-weight: 700;
	src: url('../fonts/Larsseit-Bold/font.woff2') format('woff2'),
		url('../fonts/Larsseit-Bold/font.woff') format('woff');
}
@font-face {
	font-family: 'Larsseit';
	font-weight: 700;
	font-style: italic;
	src: url('../fonts/Larsseit-BoldItalic/font.woff2') format('woff2'),
		url('../fonts/Larsseit-BoldItalic/font.woff') format('woff');
}
@font-face {
	font-family: 'Larsseit';
	font-weight: 800;
	font-style: italic;
	src: url('../fonts/Larsseit-ExtraBoldItalic/font.woff2') format('woff2'),
		url('../fonts/Larsseit-ExtraBoldItalic/font.woff') format('woff');
}
@font-face {
	font-family: 'Larsseit';
	font-weight: 200;
	font-style: italic;
	src: url('../fonts/Larsseit-ThinItalic/font.woff2') format('woff2'),
		url('../fonts/Larsseit-ThinItalic/font.woff') format('woff');
}
@font-face {
	font-family: 'Larsseit';
	font-weight: 200;
	src: url('../fonts/Larsseit-Thin/font.woff2') format('woff2'),
		url('../fonts/Larsseit-Thin/font.woff') format('woff');
}
@font-face {
	font-family: 'Larsseit';
	font-weight: 500;
	font-style: italic;
	src: url('../fonts/Larsseit-MediumItalic/font.woff2') format('woff2'),
		url('../fonts/Larsseit-MediumItalic/font.woff') format('woff');
}
@font-face {
	font-family: 'Larsseit';
	font-weight: 400;
	font-style: italic;
	src: url('../fonts/Larsseit-RegularItalic/font.woff2') format('woff2'),
		url('../fonts/Larsseit-RegularItalic/font.woff') format('woff');
}
@font-face {
	font-family: 'Larsseit';
	font-weight: 400;
	src: url('../fonts/Larsseit-Regular/font.woff2') format('woff2'),
		url('../fonts/Larsseit-Regular/font.woff') format('woff');
}
@font-face {
	font-family: 'Larsseit';
	font-weight: 300;
	font-style: italic;
	src: url('../fonts/Larsseit-LightItalic/font.woff2') format('woff2'),
		url('../fonts/Larsseit-LightItalic/font.woff') format('woff');
}
@font-face {
	font-family: 'Larsseit';
	font-weight: 500;
	src: url('../fonts/Larsseit-Medium/font.woff2') format('woff2'),
		url('../fonts/Larsseit-Medium/font.woff') format('woff');
}
